#loginbg, .userContent:before {
    background: url(/images/background.jpg) no-repeat fixed;
}

#loginbg{
    position: relative;
}

#loginbg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(39,39,39,0.7);
}

.userContent {
    padding: 60px 20px;
    border: 1px white solid;
    border-radius: 10px;
    position: relative;
}

.userContent label{
    color: white;
}

.userContent:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=true, ShadowOpacity=0.5);
    z-index: -1;
}

#user-tabs {
    margin-bottom: 20px;
}

#logo>h1 {
    font-family: "Arial", sans-serif;
    font-size: 85px;
    text-align: center;
    font-weight: bold;
    color: rgba(236,177,173,1);
}

#logo>h1>span {
    text-shadow:
            0 -1px 0 #ffffff,
            0 1px 0 #000000,
            0 1px 10px rgba(0,0,0,.9),
            0 6px 1px rgba(0,0,0,.7),
            0 0 5px rgba(0,0,0,.6),
            0 1px 3px rgba(0,0,0,.8),
            0 3px 5px rgba(0,0,0,.6),
            0 7px 10px rgba(0,0,0,.7),
            0 15px 10px rgba(0,0,0,.6),
            0 25px 15px rgba(0,0,0,.5);
}