* {
    font-family: "Microsoft YaHei";
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

#loginbg, .userContent:before {
    background: url(../images/background.jpg) no-repeat fixed;
}

#loginbg:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(39, 39, 39, 0.7);
}

.userContent {
    padding: 60px 20px;
    border: 1px white solid;
    border-radius: 10px;
    position: relative;
}

.userContent label {
    color: white;
}

.userContent:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=true, ShadowOpacity=0.5);
    z-index: -1;
}

#user-tabs {
    margin-bottom: 20px;
}

#logo > h1 {
    font-family: "Arial", sans-serif;
    font-size: 85px;
    text-align: center;
    font-weight: bold;
    color: rgba(236, 177, 173, 1);
}

#logo > h4 {
    /*font-family: "Arial", sans-serif;*/
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgba(236, 177, 173, 1);
    text-shadow: 0 -1px 0 #ffffff,
    0 1px 0 #000000,
    0 1px 10px rgba(0, 0, 0, .9),
    0 6px 1px rgba(0, 0, 0, .7),
    0 0 5px rgba(0, 0, 0, .6),
    0 1px 3px rgba(0, 0, 0, .8),
    0 3px 5px rgba(0, 0, 0, .6),
    0 7px 10px rgba(0, 0, 0, .7),
    0 15px 10px rgba(0, 0, 0, .6),
    0 25px 15px rgba(0, 0, 0, .5);
}

#logo > h1 > span {
    text-shadow: 0 -1px 0 #ffffff,
    0 1px 0 #000000,
    0 1px 10px rgba(0, 0, 0, .9),
    0 6px 1px rgba(0, 0, 0, .7),
    0 0 5px rgba(0, 0, 0, .6),
    0 1px 3px rgba(0, 0, 0, .8),
    0 3px 5px rgba(0, 0, 0, .6),
    0 7px 10px rgba(0, 0, 0, .7),
    0 15px 10px rgba(0, 0, 0, .6),
    0 25px 15px rgba(0, 0, 0, .5);
}

/*个人资料左侧导航块*/
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-color: #f5f5f5;*/
    background: rgba(245, 245, 245, 0.7);
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li.active {
    background: rgb(66, 139, 202);
}

.nav-sidebar > li.active a {
    color: white;
}

.nav-sidebar > li.active a:hover {
    background: rgb(66, 139, 202);
}

/*模态框页头*/
.modal-body .page-header {
    margin-top: 0px;
}

/*overview背景body*/
.bgable {
    background: url("../images/ovbg.jpg") no-repeat fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.bgable:before {
    content: '';
    background: rgba(39, 39, 39, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}

.bgable .starter-template h1, .bgable .starter-template p, .bgable .starter-template h3, .examDoc .starter-template h1 {
    color: rgb(236, 177, 172);
    text-shadow: 0 -1px 0 rgb(255, 255, 255), 0 2px 0 rgb(0, 0, 0);
}

.bgable table {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

#heartRate p, #heartRate span, #stepCount p, #stepCount span, #distance p, #distance span, #elevation p, #elevation span, .bgable label {
    color: rgb(255, 255, 255);
}

.barChartRow > div {
    margin-bottom: 30px;
}

.breadcrumb {
    background: rgba(0, 0, 0, 0);
}

/*profile背景body*/
.pfbg {
    background: url("../images/profile.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.pfcontent h1, .pfcontent h4, .pfcontent p, .pfcontent label {
    color: rgba(255, 255, 255, 1);
}

.pfcontent > .page-header > h1 {
    color: rgb(236, 177, 172);
    text-shadow: 0 -1px 0 rgb(255, 255, 255), 0 2px 0 rgb(0, 0, 0);
}

/*健康建议面板头部*/
.panel-heading {
    position: relative;
}

.panel-heading > .docInfo {
    float: right;
    width: 100px;
    height: 32px;
    margin-top: -5px;
    overflow: hidden;
}

.panel-heading > .docInfo > .headImg {
    border: 1px black solid;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

.panel-heading > .docInfo > .docu {
    display: inline-block;
    position: relative;
    top: -9px;
    left: 10px;
}

/*医生登录界面*/
#docLoginbg, .docContent:before {
    background: url("../images/docLoginbg.jpg") fixed no-repeat;
    background-size: 100% 100%;
}

#docLoginbg:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 44, 44, 0.7);
    z-index: -999;
}

.docContent {
    padding: 60px 20px;
    border: 1px white solid;
    border-radius: 10px;
    position: relative;
}

.docContent:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
    -webkit-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=true, ShadowOpacity=0.5);
}

#docRegisterForm {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
}

.docCont {
    background: url("../images/docContbg.jpg") fixed no-repeat;
    background-size: 100% 100%;
}

.docCont:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, 0.7);
    z-index: -1000;
}

#usersTable {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#usersTable td {
    padding: 0 0 5px 5px;
}

#commForm {
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 5px;
}

/*管理端页面*/
#adminLoginbg, .adminContent:before {
    background: url("../images/adminLoginbg.jpg") fixed no-repeat;
    background-size: 100% 100%;
}

#adminLoginbg:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(45, 45, 45, 0.8);
    z-index: -999;
}

.adminContent {
    padding: 60px 20px;
    border: 1px white solid;
    border-radius: 10px;
    position: relative;
}

.adminContent:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1000;
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.5);
}

.examDoc {
    background: url("../images/adminbg.jpg") fixed no-repeat;
    background-size: 100% 100%;
}

.examDoc:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(45, 45, 45, 0.8);
    z-index: -999;
}

#docsTable {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#docsTable td {
    padding: 0 0 5px 5px;
}

/*导航条*/
.navbar-inverse {
    background: rgba(34, 34, 34, 0.8);
}

/*页脚*/
.footer {
    background: rgba(34, 34, 34, 0.8);
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
}

/*用户注册成功*/
.userRegSucc {
    text-align: center;
}

.userRegSucc > h2:before {
    content: "";
    position: relative;
    top: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../images/regSuccess.png");
    background-size: 100% 100%;
}

.userRegSucc > h2 > span {
    font-size: 0.8em;
    color: blue;
    font-weight: bold;
}

.userRegSuccBtn {
    text-align: center;
    margin-top: 100px;
}
